<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BibliothequeEntities" connectionString="metadata=res://*/ModelBibliotheque.csdl|res://*/ModelBibliotheque.ssdl|res://*/ModelBibliotheque.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Bibliotheque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibEntities" connectionString="metadata=res://*/ModelBib.csdl|res://*/ModelBib.ssdl|res://*/ModelBib.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Bibliotheque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BiblioEntities" connectionString="metadata=res://*/ModelBiblio.csdl|res://*/ModelBiblio.ssdl|res://*/ModelBiblio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Bibliotheque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>